@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Online Shopping Store</h1>
    <p class="lead">Made with ASP.NET MVC Framework</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Huge Database</h2>
        <p>
            This project uses MS SQL Server for Data Storage & Retrival.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Plugins for Ease</h2>
        <p>Third-Party Libraries are used to help the development of this website.</p>
    </div>
    <div class="col-md-4">
        <h2>Smooth Shopping Experience</h2>
        <p>
            You can easily find all your need in this website. <br/>
            @Html.ActionLink("Shop now !", "ShowStore", "Users")
        </p>
    </div>
</div>